.infobox{
    flex: 1;
    cursor: pointer !important;
}
.infobox:hover{
    cursor: pointer !important;
}

.infobox:not(:last-child){
    margin-right: 15px;
}
.infoBox--selected {
    
  }
  
  .infoBox--red {
    border-bottom: 10px solid rgba(255,0,0,0.5);
  border-radius: 2px;
  cursor: pointer !important;
  background-color: rgba(237, 178, 178, 0.5) !important;
  }
  .InfoBox--green{
    border-bottom: 10px solid rgba(0,255,0,0.5);
  border-radius: 2px;
  cursor: pointer !important;
  background-color: rgba(191, 242, 202, 0.5) !important;
  }
 .infobox--blue{
    border-bottom: 10px solid rgba(0,0,255,0.5);
    border-radius: 2px;
    cursor: pointer !important;
    background-color: rgba(102, 179, 255, 0.5) !important;
 }
  .infobox--yellow{
    background-color: rgba(237, 199, 152, 0.5) !important;
    
    cursor: pointer !important;
    border-bottom: 10px solid rgba(242, 234, 0, 0.5);
  }
  
  
  
.infobox_cases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.infobox_total{
    color: #6c757d;
    font-weight: 700 !important;
font-size: 1.8rem !important;
    margin-bottom: 15px !important;
}

@media (max-width:990px){
  
    .infobox_cases{
        color: #cc1034;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    }
    .infobox_total{
        color: #6c757d;
        font-weight: 500 !important;
    font-size: 1.4rem !important;
        margin-bottom: 10px !important;
    }
    .box_content{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px; 
    }
    .box_content:not(:last-child){
        margin-right: 15px;
    }
}
@media(max-width:750px){
    
    
}