*{
  margin: 0;
 
}
body{
 background-color: gainsboro;

}
.app_header{
  display: flex;/*just this it won't be space between children*/
  /*flex-direction: column;*/
  justify-content: space-between;/*for children*/
  align-items: center;
  margin-bottom: 20px;
}
.app{
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}
.app_stats{
  display: flex;
  justify-content: space-between;
}
.app_left{
  flex:0.8;
}
.infected{
  border-bottom: 10px solid rgba(0,0,255,0.5);
  border-radius: 2px;
  cursor: pointer !important;
}
.recovered{
  border-bottom: 10px solid rgba(0,255,0,0.5);
  border-radius: 2px;
  cursor: pointer !important;
}
.death{
  border-bottom: 10px solid rgba(255,0,0,0.5);
  border-radius: 2px;
  cursor: pointer !important;
}
.appbar{
  margin-bottom: 0px ;
}
.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}
@media (max-width: 990px){
  .app {
    flex-direction: column;
    margin:20px;
  }
  .app_left{
    margin-bottom: 20px;
  }
  .app_header{
    display: flex;/*just this it won't be space between children*/
    flex-direction: column;
   /* justify-content: space-evenly;*//*for children*/
    align-items: center;
    
  }
  .app_dropdown{
    margin-top: 15px;
  }
  .infected, .recovered,.death{
    margin-right: 10px;
  }
  .logo{
    margin-bottom: 15px;
  }
}
